@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.about-me,
.projects,
.contact {
    padding: 60px 0;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(Images/bg.jpg);
    height: 70vh;
    padding: 100px;
}

.about-me h2,
.contact h2 {
    color: black;
}

.about-me h2{
    font-size: 40px;
}
.about-me p{
    text-align: justify;
    font-size: 20px;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 100px;
    background: linear-gradient(45deg, #ffffff, #5c21ff, #000399, #2b0063);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.projects h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}
.projects p {
    margin: 0;
    text-align: center;
}
.skills {
    height: 450px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    padding: 20px 40px;
}
.skills li{
    list-style: none;
    margin: 30px 0;
}
.heading {
    font-weight: 500;
    font-size: 20px;
}
.skillbar {
    position: relative;
    width: 100%;
    height: 15px;
    border: 1px solid #000;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
}
.skillbar span {
    display: block;
    position: relative;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #875cfd, #2b0063);
}
.html {
    width: 100%;
    animation: html 2s ease-in;
}
.css {
    width: 90%;
    animation: css 2s ease-in;
}
.js {
    width: 50%;
    animation: js 2s ease-in;
}
@keyframes html{
    from {
        width: 10%;
    }
}
@keyframes css{
    from {
        width: 10%;
    }
}
@keyframes js{
    from {
        width: 10%;
    }
}
.skills-container {
    position: relative;
    perspective: 1000px;
}

.skills-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.skills-content.flip {
    transform: rotateY(180deg);
}

.skills-content div {
    backface-visibility: hidden;
}
.contact {
    background: url(Images/bg.jpg);
    height: 70vh;
    padding: 100px;
}
.contact h2{
    font-size: 40px;
}
.contact p{
    font-size: 20px;
}
.contact li{
    font-size: 20px;
}
footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.gradient-background {
    background: linear-gradient(45deg, #875cfd, #2b0063);
}
.background-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 100px;
    background: linear-gradient(45deg, #000000, #100a22, #000399, #2b0063);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}